<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <style>
    @page {
      margin: 0;
    }
  </style>
</head>
<body>
<div class="header">
  <div style="padding: 10px;padding-bottom: 0px;">
    <p style="margin-bottom: 10px;padding-bottom: 0px;">尊敬的用户，您好：</p>
    <p style="text-indent: 2em; margin-bottom: 10px;">您正在申请邮箱验证，您的验证码为：</p>
    <p class="code-text">${code}</p>
    <div class="footer">
    </div>
  </div>
</div>
</body>
</html>