<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "com.yuxeng.display.adminmodel.AdminDao">
  <!--namespace根据自己需要创建的的mapper的路径和名称填写-->
  <select id = "findAdmin" resultType = "com.yuxeng.display.adminmodel.Admin">
    select * from tb_admin
    <where>
      <if test="id != null">
        and id = #{id}
      </if>
      <if test="username != null">
        and username = #{username}
      </if>
      <if test="password != null">
        and password = #{password}
      </if>
      <if test="name != null">
        and name = #{name}
      </if>
      <if test="phone != null">
        and phone = #{phone}
      </if>
      <if test="email != null">
        and email = #{email}
      </if>
      <if test = "created_at != null">
        and created_at = #{created_at}
      </if>
    </where>
  </select>

</mapper>
